<link rel="stylesheet" href="../styles/syncdatarules.css"/>
<div aria-labelledby="dialog-label" class="delete-confirm-dialog">
        <div class="dialog-msg">
            <p>This action will delete all previously synced data. Press OK to confirm.</p>
        </div>
        <div class="dialog-buttons">
            <button id="modal-revise-button1" class="primary-button" ng-click="cancelDialog()">Cancel</button>
            <button id="modal-revise-button1" class="secondary-button" ng-click="sync()">OK</button>
        </div>
</div>