<div class="opd-header-wrapper">
  <div class="opd-header-top">
    <a
      class="back-btn"
      ng-class="{'dashboard-link':backLink.image}"
      accesskey="h"
      ng-href="../home/index.html"
      ng-click="closeAllDialogs()"
      id=""
      title=""
      href="../home/index.html"
    >
      <i class="fa fa-home"></i>
    </a>
  </div>
</div>
<section class="block sync-rules-section">
  <h2 class="section-title">Sync Data Rules</h2>
  <div class="sync-data-rules-container">
    <form action="#">
      <div>
        <input type="radio" id="full-sync" name="sync-stratergy" value="full-sync" checked>
        <label for="full-sync">Full Sync</label>
      </div>
      
      <div>
        <input type="radio" id="selective-sync" name="sync-stratergy" value="selective-sync">
        <label for="selective-sync">Selective Sync</label>
      </div>
  
      <div class="province-select">
        <select name="province" id="province-select">
          <option value="">--Select Province--</option>
          <option value="dog">Dog</option>
          <option value="cat">Cat</option>
          <option value="hamster">Hamster</option>
          <option value="parrot">Parrot</option>
          <option value="spider">Spider</option>
          <option value="goldfish">Goldfish</option>
      </select>

      </div>
    </br>
      <div>
        <input type="submit" value="Start Sync" />
      </div>
      
    </form>
  </div>
</section>

<style>
  .sync-rules-section {
    min-width: 50%;
    position: absolute;
    padding: 2%;
    margin-top: 5%;
  }

  .sync-data-rules-container {
    border: 1px solid #ccc;
    background: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    padding: 10px;
  }

  .back-btn {
    margin-left: 25px !important;
  }
</style>
