<div class="opd-header-wrapper" ng-controller="SyncDataRulesController">
  <div class="opd-header-top">
    <a class="back-btn" ng-class="{'dashboard-link':backLink.image}" accesskey="h" ng-href="../home/index.html"
      ng-click="closeAllDialogs()" id="" title="" href="../home/index.html">
      <i class="fa fa-home"></i>
    </a>
  </div>
</div>

<section class="block sync-rules-section">
  <h2 class="section-title">Sync Data Rules</h2>
  <div class="sync-data-rules-container">
    <form>
      <div class="mb20">
        <input type="radio" id="full-sync" name="sync-stratergy" ng-model="filters.sync_stratergy" value="full" ng-click="showSelect('N')" checked>
        <label for="full-sync">Full Sync</label>
      </div>

      <div class="mb20">
        <input type="radio" id="selective-sync" name="sync-stratergy" ng-model="filters.sync_stratergy" value="selective" ng-click="showSelect('Y')">
        <label for="selective-sync">Selective Sync</label>
      </div>
      
      <div ng-show="isSelectVisible"  class="mb20">
        <div class="province-select select">
          <select name="province" id="province-select" ng-model="filters.provinceId" ng-change="filterDistrict()">
            <option ng-repeat="address in provinceAddressList" value={{address.id}}>{{address.name}}</option>
          </select>
        </div>

        <div class="district-select select">
          <select name="district" id="district-select" ng-model="filters.districtId" ng-change="filterFacility()">
            <option value="">--Select District--</option>
            <option ng-repeat="address in filteredDistrictList" value={{address.id}}>{{address.name}}</option>
          </select>
        </div>

        <div class="facility-select select">
          <select name="facility" id="facility-select" ng-model="filters.facilityId">
            <option value="">--Select Facility--</option>
            <option ng-repeat="address in filteredFacilityList" value={{address.id}}>{{address.name}}</option>
          </select>
        </div>
      </div>
      <p class="validation-error" ng-show="showValidationError">{{validationError}}</p>
    
      </br>
      <div>
        <input type="submit" ng-click="sync(filters)" value="Start Sync" />
      </div>

    </form>
  </div>
</section>

<style>
  .sync-rules-section {
    min-width: 50%;
    position: absolute;
    padding: 2%;
    margin-top: 5%;
  }

  .sync-data-rules-container {
    border: 1px solid #ccc;
    background: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    padding: 10px;
  }

  .back-btn {
    margin-left: 25px !important;
  }

  .select {
    display: inline-block;
  }

  .validation-error {
    color: red;
    padding: 10px;
  }

  .mb20{
    margin-bottom: 20px;
  }
</style>