.sync-rules-section {
  min-width: 50%;
  position: absolute;
  padding: 2%;
  margin-top: 5%;
}

.sync-data-rules-container {
  border: 1px solid #ccc;
  background: #ffffff;
  border-radius: 3px;
  overflow: hidden;
  padding: 15px;
}

.back-btn {
  margin-left: 25px !important;
}

.select {
  display: inline-block;
}

.validation-error {
  color: red;
  padding: 10px;
}

.mb20{
  margin-bottom: 20px;
}

.grid-container {
  margin-left: 5%;
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item{
  padding: 10px;
}

.selected-items-box {
  cursor: pointer;
  border: solid 1px #ddd;
  padding:10px;
  width: 500px;
}
.selected-items-box .items-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.selected-items-box .items-list li {
  display: inline;

}

li:hover {
  background-color: #5897fb !important;
  color: white;
}

.list {
  display: none;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: solid 1px #C7C6C7;
  border-right: solid 1px #C7C6C7;
  border-bottom: solid 1px #C7C6C7;
  z-index: 100;
  position: absolute;
  width: 520px;
}
.list .items-list {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
.list .items-list li {
  margin: 0;
  width: 100%;
  padding: 0;
  border-bottom: solid 1px #C7C6C7;
  padding: 15px;
  background-color: #fff;
}

.success {
  background-color: #4CAF50;
}

.info {background-color: #2196F3;}

.selected-list{
  display: inline;
  list-style: none;
  padding: 0;
}

.selected-list-item{
  border: 1px solid #2196F3;
  border-radius: 4px;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  padding: 8px;
  color: white;
}

